# I301D Final Project: Fake News

## Melanie Huynh, Alexander Imhoff, Isabel Yang, Ashley Yude

### CLEANING & COMBINING
First we will load our datasets into our Notebook as a PANDAS dataframe.

In [56]:
import pandas as pd


# fake_df only contains fake news
fake_df = pd.read_csv('Fake.csv')

# real_df only contains real news
real_df = pd.read_csv('True.csv')

# text_df has both true and fake news, but is labeled with a String
text_df = pd.read_csv('fake_or_real_news.csv')

# num_df has both true and fake news, but is labeled with an Integer
num_df = pd.read_csv('perez-rosas-fakenews.csv')

In [57]:
fake_df.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [58]:
real_df.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [59]:
text_df.head()

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

In [60]:
num_df.head()

,Unnamed: 0,title,body,label,category
0,0,"Alex Jones Vindicated in ""Pizzagate"" Controversy","""Alex Jones, purveyor of the independent inves...",1,biz
1,1,THE BIG DATA CONSPIRACY,Government and Silicon Valley are looking to e...,1,biz
2,2,California Surprisingly Lenient on Auto Emissi...,"Setting Up Face-Off With Trump ""California's c...",1,biz
3,3,Mexicans Are Chomping at the Bit to Stop NAFTA...,Mexico has been unfairly gaining from NAFTA as...,1,biz
4,4,Breaking News: Snapchat to purchase Twitter fo...,Yahoo and AOL could be extremely popular over ...,1,biz

Looking into the data from each, we can see that the formatting for all of them is a little different. Now we need to clean up our data and combine all the information from each source into one dataframe.

We will start with fake_df and real_df and delete columns that are not present in the other two datasets.

In [61]:
fake_cleaned = fake_df[['title','text']]
real_cleaned = real_df[['title','text']]

After cleaning it up, we will then an Integer label that will identify all fake news as '1' and all real news as '0'.

In [62]:
fake_cleaned = fake_cleaned.assign(label = 1)
real_cleaned = real_cleaned.assign(label = 0)

Once finished, we will combine the two dataframes into one.

In [63]:
combined_frames = [fake_cleaned, real_cleaned]
result = pd.concat(combined_frames)
result

,title,text,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,1
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,1
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",1
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",1
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,1
...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,0
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",0
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,0
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,0
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,0

Now we will clean up the other two data frames by deleting unnecessary columns, changing column names as needed, and making sure the label is an Integer. (Fake = 1, Real = 0)

In [67]:
# Deleting the 'Unnamed: 0' columns and the 'category column'
num_cleaned = num_df[['title','body','label']]
text_cleaned = text_df[['title','text','label']]

# Renaming the 'body' column to be 'text'
num_cleaned.rename(columns={'body': 'text'})

# Making 'label' in text_cleaned into a column of Integers
pd.get_dummies(text_cleaned['label'])
num_cleaned['label'] =

      FAKE  REAL
0        1     0
1        1     0
2        0     1
3        1     0
4        0     1
...    ...   ...
6330     0     1
6331     1     0
6332     1     0
6333     0     1
6334     0     1

[6335 rows x 2 columns]