# I301D Final Project: Fake News

## Melanie Huynh, Alexander Imhoff, Isabel Yang, Ashley Yude

 In our project ........... words and stuff

## Data Cleaning

### Looking into our data:
First we will load our datasets into our Notebook as a PANDAS dataframe.

In [1]:
import pandas as pd
pd.options.mode.chained_assignment = None # mutes a trivial warning about PANDAS


# fake_df only contains fake news
fake_df = pd.read_csv('Fake.csv')

# real_df only contains real news
real_df = pd.read_csv('True.csv')

# text_df has both true and fake news, but is labeled with a String
text_df = pd.read_csv('fake_or_real_news.csv')

# num_df has both true and fake news, but is labeled with an Integer
num_df = pd.read_csv('perez-rosas-fakenews.csv')

In [2]:
fake_df.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [3]:
real_df.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [4]:
text_df.head()

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

In [5]:
num_df.head()

,Unnamed: 0,title,body,label,category
0,0,"Alex Jones Vindicated in ""Pizzagate"" Controversy","""Alex Jones, purveyor of the independent inves...",1,biz
1,1,THE BIG DATA CONSPIRACY,Government and Silicon Valley are looking to e...,1,biz
2,2,California Surprisingly Lenient on Auto Emissi...,"Setting Up Face-Off With Trump ""California's c...",1,biz
3,3,Mexicans Are Chomping at the Bit to Stop NAFTA...,Mexico has been unfairly gaining from NAFTA as...,1,biz
4,4,Breaking News: Snapchat to purchase Twitter fo...,Yahoo and AOL could be extremely popular over ...,1,biz

### Combining our dataframes:
As seen above, we looked into the data from each source and observed that the formatting for all of them is a little different. Before we combine our dataframes and use it to train our model, we must clean up the dataframes and make sure all the columns match.

We will start with fake_df and real_df and delete columns that are not present in the other two datasets.

In [6]:
fake_cleaned = fake_df[['title','text']]
real_cleaned = real_df[['title','text']]

After cleaning it up, we will then an Integer label that will identify all fake news as '1' and all real news as '0'.

In [7]:
fake_cleaned = fake_cleaned.assign(label = 1)
real_cleaned = real_cleaned.assign(label = 0)

Now we will clean up the other two data frames by deleting unnecessary columns, changing column names as needed, and making sure the label is an Integer. (Fake = 1, Real = 0)

In [8]:
# Deleting the 'Unnamed: 0' columns and the 'category column'
num_cleaned = num_df[['title','body','label']]
text_cleaned = text_df[['title','text','label']]

# Renaming the 'body' column to be 'text'
num_cleaned.rename(columns={"body":"text"}, inplace = True)
num_cleaned.head()

# Making 'label' in text_cleaned into a column of Integers
text_cleaned["label"] = (text_cleaned["label"] == "FAKE") + 0 ## Use the binary coding for true/false.
text_cleaned.head()

,title,text,label
0,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",1
1,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,1
2,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,0
3,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",1
4,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,0

In [9]:
num_cleaned.head()

,title,text,label
0,"Alex Jones Vindicated in ""Pizzagate"" Controversy","""Alex Jones, purveyor of the independent inves...",1
1,THE BIG DATA CONSPIRACY,Government and Silicon Valley are looking to e...,1
2,California Surprisingly Lenient on Auto Emissi...,"Setting Up Face-Off With Trump ""California's c...",1
3,Mexicans Are Chomping at the Bit to Stop NAFTA...,Mexico has been unfairly gaining from NAFTA as...,1
4,Breaking News: Snapchat to purchase Twitter fo...,Yahoo and AOL could be extremely popular over ...,1

All the dataframes in our notebook now have the same columns. This means it is time to combine all of them into one sing dataframe

In [10]:
combine_all = [fake_cleaned, real_cleaned, num_cleaned, text_cleaned]
final_df = pd.concat(combine_all)
final_df

,title,text,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,1
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,1
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",1
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",1
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,1
...,...,...,...
6330,State Department says it can't find emails fro...,The State Department told the Republican Natio...,0
6331,The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...,The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...,1
6332,Anti-Trump Protesters Are Tools of the Oligarc...,Anti-Trump Protesters Are Tools of the Oligar...,1
6333,"In Ethiopia, Obama seeks progress on peace, se...","ADDIS ABABA, Ethiopia —President Obama convene...",0
6334,Jeb Bush Is Suddenly Attacking Trump. Here's W...,Jeb Bush Is Suddenly Attacking Trump. Here's W...,0

## Creating a Bag of Words

We also need to create a bag of words to act as our training data, but we have to clean and process the actual bodies of text first.

### Preprocessing the text
Techniques we will do:
* Make each letter of everyword lowercase so that words like "Crazy" and "crazy" count as the same word.
* Remove stopwords since they don't bring any value in modeling. (We found a list of English stopwords from the nltk package and used that to figure out which words to delete.

To make it look cleaner, we decided to make a function to run our bodies of text in.

In [25]:
def clean_text(text):
    '''Text Preprocessing '''
    
    # make words lowercase
    text = text.lower()
    
    # remove stopwords
    text = text.split()
    text = [w for w in text if not w in stopwords]
    text = " ".join(text)

    
    return text

Note: We tried using nltk, but had a lot of trouble getting jupyter notebook to recognized that we had already downloaded the module. Instead, we found a list of english stopwords on github we will be using(https://gist.github.com/sebleier/554280).

In [27]:
import numpy as np
import re

stopwords = pd.read_csv("NLTK's list of english stopwords")

final_df['cleaned_text'] = list(map(clean_text, final_df.text))

Note: We tried using nltk, but had a lot of trouble getting jupyter notebook to recognized that we had already downloaded the module. Instead, we found a list of english stopwords on github we will be using(https://gist.github.com/sebleier/554280).

In [32]:
from sklearn.feature_extraction.text import CountVectorizer

 
vectorizer = CountVectorizer()

text_arr = np.array(final_df['cleaned_text'])

text_arr

# make a bag of words
bag = vectorizer.fit_transform(text_arr)

# Get unique words / tokens found in all the documents. The unique words / tokens represents
# the features

# print(vectorizer.get_feature_names())
# #
# # Associate the indices with each unique word
# #
# print(vectorizer.vocabulary_)

# Print the numerical feature vector

print(bag.toarray()[0:2])

MemoryError: Unable to allocate 55.0 GiB for an array with shape (51713, 142677) and data type int64

## Machine Learning

Now that all of our data is cleaned up, we can move on to training a machine learning algorithm and later analyzing its accuracy.

To begin, we first define our features X, which we use to predict, and the label Y, which we try to predict.
In this case, we could determine whether or not an article is fake news based on the title and content.

In [97]:

# We are only keeping 'text' & 'title' because they are what we are using to predict the label
X = final_df.drop(columns='label')

Y = final_df['label']

Now we will divide the dataset into training / testing parts. We will use the training dataset to train our model to make predictions, in this whether or not an article is fake news. Then, we will use the testing set to see how our model performed.

We will also be setting the random_state so that everytime the code is run, we will end up with the exact same split.

In [98]:
from sklearn.model_selection import train_test_split

# We are going with the 80/20 train/test split.
train_x, test_x, train_y, test_y = train_test_split(X, Y, test_size=0.2, random_state=9)